*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#2B1D16;
    color:#E8D8B5;
    font-family:Georgia, serif;
    padding-top:110px;
}

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:90px;
    background:#C8A27A;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 80px;
}

.logo{
    color:#2B1D16;
    font-size:32px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:40px;
}

nav ul li a{
    text-decoration:none;
    color:#2B1D16;
    font-size:20px;
    font-weight:bold;
}

.checkout-container{

   .checkout-container{

    width:95%;

    margin:40px auto;

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:30px;

    align-items:start;

}

}

.customer-details{
  

    flex:3;

    background:#3A281F;

    padding:40px;

    border-radius:20px;

}

.customer-details h1{
    margin-bottom:30px;
}

.customer-details input,
.customer-details textarea{
    width:60%;
    margin-bottom:20px;
    padding:18px;
    border:none;
    border-radius:12px;
    font-size:18px;
}

.customer-details textarea{
    height:120px;
    resize:none;
}

.order-summary{

    background:#3A281F;

    padding:30px;

    border-radius:20px;

    position:sticky;

    top:120px;

    width:100%;

}
.order-summary h2{
    margin-bottom:20px;
}

.order-summary hr{
    margin:20px 0;
    border:1px solid #C8A27A;
}

.order-summary h3{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

#place-order{
    width:100%;
    padding:18px;
    margin-top:30px;
    border:none;
    border-radius:30px;
    background:#C8A27A;
    color:#2B1D16;
    font-size:20px;
    cursor:pointer;
}
.delivery-box,
.secure-box{

    margin-top:25px;

    background:#2B1D16;

    padding:20px;

    border-radius:15px;

}

.delivery-box h3,
.secure-box h3{

    color:#C8A27A;

    margin-bottom:10px;

}

.delivery-box p,
.secure-box p{

    font-size:18px;

}

#place-order{

    width:100%;

    padding:18px;

    margin-top:30px;

    background:#C8A27A;

    color:#2B1D16;

    border:none;

    border-radius:35px;

    font-size:20px;

    cursor:pointer;

    transition:.3s;

}

#place-order:hover{

    transform:scale(1.03);

}