*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#2B1D16; /* Kraft Brown */
}
body{
    background-color:#2B1D16;
    padding-top:100px;
}


@keyframes orbit {

    0%{
        transform:translate(0px,0px) rotate(-3deg);
    }

    25%{
        transform:translate(15px,-20px) rotate(2deg);
    }

    50%{
        transform:translate(25px,0px) rotate(5deg);
    }

    75%{
        transform:translate(15px,20px) rotate(2deg);
    }

    100%{
        transform:translate(0px,0px) rotate(-3deg);
    }

}


 

button{

    margin-top:40px;

    padding:20px 50px;

    border:none;

    border-radius:40px;

    background:#C8A27A;

    color:#2B1D16;

    font-size:20px;

    cursor:pointer;

}


.almond-product img{

    width:900px;

    filter:drop-shadow(0 35px 25px rgba(0,0,0,0.5));

    animation:orbit 8s ease-in-out infinite;

}


.almond-page{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:100vh;

}

.almond-product{

    margin-left:100px;

}

.almond-info{

    margin-right:100px;

    color:#E8D8B5;

}

.almond-info h1{

    font-size:120px;

}

.almond-info p{

    width:500px;

    line-height:1.8;
    font-size:30px
}

.cashew-page{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:100vh;

}

.cashew-info{

    margin-left:150px;

    color:#E8D8B5;

}

.cashew-info h1{

    font-size:120px;

}

.cashew-info h3{

    margin-top:20px;

    color:#C8A27A;

}

.cashew-info p{

    width:500px;

    margin-top:40px;

    line-height:1.8;
    font-size:30px;

}

.cashew-info h2{

    margin-top:40px;

    font-size:50px;

}

.cashew-product{

    margin-right:100px;

}

.cashew-product img{

    width:700px;

    filter:drop-shadow(0 35px 25px rgba(0,0,0,0.5));

    animation:orbit 8s ease-in-out infinite;

}

.pistachio-page{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:100vh;

}

.pistachio-product{

    margin-left:100px;

}

.pistachio-product img{

    width:700px;

    filter:drop-shadow(0 35px 25px rgba(0,0,0,0.5));

    animation:orbit 8s ease-in-out infinite;

}

.pistachio-info{

    margin-right:100px;

    color:#E8D8B5;

}

.pistachio-info h1{

    font-size:120px;

    line-height:1;

}

.pistachio-info h3{

    margin-top:20px;

    color:#C8A27A;

    font-size:40px;

}

.pistachio-info p{

    width:500px;

    margin-top:40px;

    line-height:1.8;

    font-size:30px;

}

.pistachio-info h2{

    margin-top:40px;

    font-size:50px;

}

.pumpkin-page{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:100vh;

}

.pumpkin-info{

    margin-left:150px;

    color:#E8D8B5;

}

.pumpkin-info h1{

    font-size:120px;

    line-height:1;

}

.pumpkin-info h3{

    margin-top:20px;

    color:#C8A27A;

    font-size:40px;

}

.pumpkin-info p{

    width:500px;

    margin-top:40px;

    line-height:1.8;

    font-size:20px;

}

.pumpkin-info h2{

    margin-top:40px;

    font-size:50px;

}

.pumpkin-product{

    margin-right:100px;

}

.pumpkin-product img{

    width:700px;

    filter:drop-shadow(0 35px 25px rgba(0,0,0,0.5));

    animation:orbit 8s ease-in-out infinite;

}
.makhana-page{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:100vh;

}

.makhana-product{

    margin-left:100px;

}

.makhana-product img{

    width:900px;

    filter:drop-shadow(0 35px 25px rgba(0,0,0,0.5));

    animation:orbit 8s ease-in-out infinite;

}

.makhana-info{

    margin-right:100px;

    color:#E8D8B5;

}

.makhana-info h1{

    font-size:120px;

    line-height:1;

}

.makhana-info h3{

    margin-top:20px;

    color:#C8A27A;

    font-size:40px;

}

.makhana-info p{

    width:500px;

    margin-top:40px;

    line-height:1.8;

    font-size:20px;

}

.makhana-info h2{

    margin-top:40px;

    font-size:50px;

}

.bbq-page{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:100vh;

}

.bbq-info{

    margin-left:150px;

    color:#E8D8B5;

}

.bbq-info h1{

    font-size:120px;

    line-height:1;

}

.bbq-info h3{

    margin-top:20px;

    color:#C8A27A;

    font-size:40px;

}

.bbq-info p{

    width:500px;

    margin-top:40px;

    line-height:1.8;

    font-size:20px;

}

.bbq-info h2{

    margin-top:40px;

    font-size:50px;

}

.bbq-product{

    margin-right:100px;

}

.bbq-product img{

    width:700px;

    filter:drop-shadow(0 35px 25px rgba(0,0,0,0.5));

    animation:orbit 8s ease-in-out infinite;

}.walnut-page{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:100vh;

}

.walnut-product{

    margin-left:100px;

}

.walnut-product img{

    width:700px;

    filter:drop-shadow(0 35px 25px rgba(0,0,0,0.5));

    animation:orbit 8s ease-in-out infinite;

}

.walnut-info{

    margin-right:100px;

    color:#E8D8B5;

}

.walnut-info h1{

    font-size:120px;

    line-height:1;

}

.walnut-info h3{

    margin-top:20px;

    color:#C8A27A;

    font-size:40px;

}

.walnut-info p{

    width:500px;

    margin-top:40px;

    line-height:1.8;

    font-size:20px;

}

.walnut-info h2{

    margin-top:40px;

    font-size:50px;

}


nav{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:90px;

    background:#C8A27A;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 80px;

    z-index:1000;

}

.logo{

    color:#2B1D16;

    font-size:40px;

    font-weight:bold;

    letter-spacing:3px;

}

nav ul{

    display:flex;

    list-style:none;

}

nav ul li{

    margin-left:40px;

}

nav ul li a{

    text-decoration:none;

    color:#2B1D16;

    font-size:30px;

    font-weight:bold;

    transition:0.3s;

}

nav ul li a:hover{

    color:white;

}

body{
    background-color:#2B1D16;
    padding-top:100px;
}